django
django-compressor
django-libsass
libsass
pillow
pip-tools
-e git+https://github.com/mireq/django-assets-manager.git@8cf7019f5843d7aea227b17fcf07440e67212bad#egg=django_assets_manager
django-extensions
ipython
ptpython
pydotplus
pylint-django
watchdog
werkzeug
