/* Reusable components */

.icon-check {
	@include sprite(check);
	display: inline-block;
	vertical-align: middle;
}

.icon-radio {
	@include sprite(radio);
	display: inline-block;
	vertical-align: middle;
}
