// all settings in static/vendor/foundation/scss/settings/_settings.scss
$breakpoints: (
	small: 0px,
	medium: 480px,
	large: 640px,
	xlarge: 1024px,
	xxlarge: 1200px,
);
$breakpoint-classes: (small medium large xlarge);
/*
$header-sizes: (
	small: (
		'h1': 30,
		'h2': 18,
		'h3': 16,
		'h4': 15,
		'h5': 14,
		'h6': 13,
	),
	medium: (
		'h1': 35,
		'h2': 20,
		'h3': 18,
		'h4': 16,
		'h5': 14,
		'h6': 13,
	),
);
*/
$primary-color: #e11f28;
$body-font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$header-font-weight: 700;
//$header-font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;


@import '../vendor/foundation/scss/foundation';

@mixin foundation-parts() {
	@include foundation-global-styles;
	@include foundation-grid;
	@include foundation-typography;
	//@include foundation-button;
	//@include foundation-forms;
	//@include foundation-visibility-classes;
	//@include foundation-float-classes;
	//@include foundation-accordion;
	//@include foundation-accordion-menu;
	//@include foundation-badge;
	//@include foundation-breadcrumbs;
	//@include foundation-button-group;
	//@include foundation-callout;
	//@include foundation-close-button;
	//@include foundation-drilldown-menu;
	//@include foundation-dropdown;
	//@include foundation-dropdown-menu;
	//@include foundation-flex-video;
	//@include foundation-label;
	//@include foundation-media-object;
	//@include foundation-menu;
	//@include foundation-off-canvas;
	//@include foundation-orbit;
	//@include foundation-pagination;
	//@include foundation-progress-bar;
	//@include foundation-slider;
	//@include foundation-sticky;
	//@include foundation-reveal;
	//@include foundation-switch;
	//@include foundation-table;
	//@include foundation-tabs;
	//@include foundation-thumbnail;
	//@include foundation-title-bar;
	//@include foundation-tooltip;
	//@include foundation-top-bar;
}

@include foundation-parts;

@import "components";
@import "header";
@import "footer";
@import "pages";
