@import '../vendor/foundation/scss/foundation';

$small-breakpoint:  em-calc(480);
$medium-breakpoint: em-calc(640);
$large-breakpoint:  em-calc(1024);
$xlarge-breakpoint: em-calc(1200);

@media #{$xlarge-up} {
	@include grid-html-classes($size:xlarge);
	@for $i from 0 through $total-columns - 1 {
		.push-#{$i} {
			@include grid-column($push:$i, $collapse:null, $float:false);
		}
		.pull-#{$i} {
			@include grid-column($pull:$i, $collapse:null, $float:false);
		}
	}
}

$primary-color: #228833;

@import
	"../vendor/foundation/scss/normalize",
	"../vendor/foundation/scss/foundation/components/alert-boxes",
	"../vendor/foundation/scss/foundation/components/grid",
	"../vendor/foundation/scss/foundation/components/forms",
	"../vendor/foundation/scss/foundation/components/type";

@import "header";
@import "special";
