<!DOCTYPE html>
<html>
<head>
	<title>{% block head_title %}Site name{% endblock %}</title>
	<meta charset="utf-8" />
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	{% block extraheaders %}{% endblock %}
	{% compress css %}
		<link rel="stylesheet" type="text/x-scss" href="{% static "css/style.scss" %}" />
	{% endcompress %}
	{% if 'autoreload' in request.GET %}
		<script src="{% static "js/css_reload.js" %}"></script>
	{% endif %}
</head>
<body class="{% block bodyclass %}{% endblock %}{% if 'preview' in request.GET %} preview{% endif %}">
{% block body %}
	{% block header %}
		<header>
		</header>
	{% endblock %}

	{% block content %}
	{% endblock %}

	{% block footer %}
		<footer>
		</footer>
	{% endblock %}
{% endblock %}

{% block extrajs %}
{% endblock %}
</body>
</html>
